{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'pages/static/css/style.css' %}" />
  {% endblock %}
  <nav  class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" style="width: 100%;" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="background-color: #585858;" href="/"> FİLMİX </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 15px; ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/filmler" style="color: #fff;">NE İZLEMELİ ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" style="color: #fff;">HAKKIMIZDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact" style="color: #fff;">İLETİŞİM</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="/favlist" style="color: #fff;">KULLANICI SAYFASI</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #fff;">
            DİZİ/FİLM
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <br> </br>   
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" style="background-color: #e3f2fd;" type="submit"> ARA </button>
      </form>
    </div>
  </div>
</nav>

